<style>
    :root {
        --bg: #e3fdfd;
        --border: #91c8e4;
        --btn: #749bc2;
        --hover: #4682a9;
        --text: #71c9ce;
    }

    body {
        background: var(--bg);
    }

    .buttons-p2 {
        border: 1px solid var(--border);
        color: var(--text);
    }

    .buttons-p2:hover {
        background: var(--border);
        color: #FFFFFF;
    }

    #product-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
</style>
<div id="product-list">
    {% if len(products) == 0 %}
    <div class="alert alert-warning" role="alert">
        No products found for the selected specifications.
    </div>
    {% else %}
    {% for product in products %}
    <div class="card m-3 p-1" style="width: 768px;">
        <div class="row">
            <div class="col-4 col-sm-3">
                <img alt="..." class="img-fluid rounded-start m-1"
                     data-product-id="{{ product.pid }}" src="{{ url_for('serve_image', filename=product.primaryimg) }}"
                     style="max-width: 100%; height: auto;">
            </div>
            <div class="col-8 col-sm-9">
                <div class="card-body">
                    <div data-product-id="{{ product.pid }}">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="product-description card-text" style="font-size: 0.75rem;">{{ product.description
                            }}</p>
                        <p class="card-text" style="font-size: 1.25rem;"><b>&#x20B9;{{ product.price }}</b></p>
                    </div>
                    <div class="card-text row">
                        <button class="col-5 buttons-p2 btn shadow m-1 m-sm-2"
                                data-product-id="{{ product.pid }}"
                                onclick="deleteProduct(this)" style="font-size: 0.75rem; min-width: 5.5rem;"
                                type="button">Delete
                        </button>
                        <button class="col-5 buttons-p2 btn shadow m-1 m-sm-2"
                                data-product-id="{{ product.pid }}"
                                onclick="previewProduct(this)" style="font-size: 0.75rem; min-width: 5.5rem;"
                                type="button">Preview
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>

